<div class="container"><h6><% @letters %></h6>
<h6><% @answer %></h6>
<h4><%= @score %></h4>

<div class= 'btn btn-primary'><p><%= link_to "Try again", "/new" %></p></div>

<div class="results"><%  %></div>
</div>
