.title{
  padding: 4px;
  color: purple;
  margin-bottom: 20px;
}

ul > li{
  background-color: #19ACF2;
  padding: 20px;
  size: 20px;
  margin: 10px;
  border-radius: 5px;
}

ul {
  padding: 10px;
}

.btn.btn-primary{
  color: rgb(192, 42, 42);
  margin: 10px
}

.container{
  padding: 5px;
  margin: 10px;
}
